@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display:wght@500&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Inter';
}

.root {
    padding: 0 11.5% 89px;
}

.full_content {
    max-width: 1150px;
}

header {

    padding: 90px 0 55px;
    display: flex;
    justify-content: space-between;

}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    height: 50px;
    gap: 2rem;
    align-items: center;

}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: rgb(164, 167, 167);
}

nav ul li a:hover {
    cursor: pointer;
}

section {
    display: grid;
}

.content1 {
    display: flex;
    gap: 2rem;
    max-width: 1160px;
}

.article-section {
    display: flex;
    flex-direction: column;
    max-width: 66.7%;

}

.main-image1 {
    max-width: 100%;
    display: block;
}

.main-image2 {
    display: none;
    max-width: 100%;
}

.article-content {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.article-theme {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 90%;
    font-size: 1.1rem;
}

.article-heading {
    width: 75vw;

}

.article-heading h1 {
    font-size: 3.6rem;
    font-weight: 800;
}

.article-para {
    font-weight: 400;
    line-height: 1.4rem;
    color: rgb(156, 156, 154);
    font-size: 16px;
}

.read {
    background-color: hsl(5, 85%, 63%);
    color: white;
    width: 12rem;
    height: 3.4rem;
    padding: 5px 5px;
    font-size: 1.4rem;
    border: none;
    border-radius: 2px;
    margin-top: 1rem;
}

aside {
    background-color: hsl(240, 100%, 5%);
    color: aliceblue;
    padding: 25px 25px 0 25px;
}

.news {
    font-size: 2rem;
    color: hsl(35, 77%, 62%);
    font-weight: 800;
    height: 4rem;
    padding: 10px 10px;
    margin-bottom: 1rem;
}

.news-headline {
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

.news-head a {
    color: white;
    text-decoration: none;
}

.news-head {
    margin-bottom: .5rem;
}

.news-content .news-headline:nth-child(2) {
    border-bottom: 1px solid grey;

}

.news-content .news-headline:nth-child(3) {
    border-bottom: 1px solid grey;
}

.para {
    padding-bottom: 2rem;
    font-size: .95rem;
    color: hsl(233, 8%, 79%);

}

.news-head a:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.content2 {
    display: flex;
    flex-direction: row;

    gap: 1rem;
    margin-top: 2rem;
    padding: 10px 10px;
}

.advertise-panel {
    display: flex;
    gap: 1.5rem;
    max-width: 36%;
}

.images img {
    max-width: 120px;
    height: auto;
}

.content-adv h1 {
    font-size: 2rem;
    color: hsl(233, 8%, 79%);
    margin-bottom: 1rem;
}

.content-adv h3 a {
    font-size: 1.2rem;
    color: hsl(240, 100%, 5%);
    text-decoration: none;
}

.content-adv h3 a:hover {
    color: hsl(5, 85%, 63%);
}

.content-adv p {
    font-size: 16px;
    color: hsl(236, 13%, 42%);
    line-height: 1rem;
    margin-top: .5rem;
}

button:hover {
    background-color: black;
    color: white;
}

.back-white {
    display: none;
    position: absolute;
    height: 100vh;
    background-color: hsl(240, 2%, 20%);
    width: 40%;
    opacity: .5;
}

.mobile-menu {
    display: none;
    position: absolute;
    right: 10px;
    height: 100vh;
    background-color: hsl(36, 100%, 99%);
    width: 60%;
    padding: 20px 20px;
}

.open-menu {
    display: none;
    background-color: white;
    border: none;
    padding-top: 15px;
}

.mobile-menu .mobile-nav {
    margin-top: 5rem;
}

.mobile-menu .mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.mobile-menu .mobile-nav ul li {
    list-style: none;

}

.mobile-menu .mobile-nav ul li a {
    text-decoration: none;
    font-size: 20px;
    line-height: 1rem;
    color: rgb(164, 167, 167);
}

.close_menu {
    display: flex;
    position: absolute;
    right: 10px;
    border: none;
    color: rgb(139, 135, 135);
    background: none;
    cursor: pointer;
}


@media (max-width: 1322px) {
    .article-content {
        display: flex;
        flex-direction: column;
    }

    .article-heading h1 {
        font-size: 3.6rem;
        font-weight: 400;
    }

    .article-heading {
        max-width: 100%;
    }
}

.icon-menu-toggler {
    display: none;
}





@media (max-width: 900px) {
    .main-image1 {
        display: none;
    }

    .main-image2 {
        display: block;
    }
}

@media (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-size: 1rem;
        font-family: 'Inter';
    }

    .root {
        padding: 20px 20px;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        max-width: 100%;
    }

    .full_content {
        max-width: 800px;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    aside {
        max-width: 100%;
    }

    nav {
        display: none;
    }

    .article-section {
        max-width: 100%;
    }

    .content2 {
        flex-direction: column;
    }

    .open-menu {
        display: block;
    }

    .advertise-panel {
        display: flex;
        gap: 1.5rem;
        max-width: 100%;
    }
    


}